div
{
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;      
}

.container
{
	position: relative;
	background-color: #808080;
	min-height: 100vh;
	height: 100%;
	width: 1200px;
    margin: 0px auto;
    clear: both;
}

.list
{
	display: table;
	width: 100%;
	border-top: 1px solid black;
}

.list ul
{
	margin: 0;
	padding: 0;
}

.list p
{
	margin: 0;
	padding: 0;
}

.list input
{
	margin: 0;
	padding: 0;
}

.list tr:nth-child(even) 
{
	background-color: #ffffff;
}

.list-cell 
{
	float: left;
	width: 30%;
	padding-left: 5px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.list-control
{
	float: left;
	width: 5%;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.list-control-header
{
	float: left;
	width: 5%;
	padding-left: 5px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.nav
{
	width: 100%;
	height: 2.5em;
}

.nav-header
{
	height: 100%;
	float: left;
}

.nav-header h2
{
	height: 100%;
	vertical-align:middle;
	margin: 0px;
	padding: 0px;
	padding-left: 5px;
}

.nav-search
{
	float: right;
	width: 25%;
	height: 100%;
	padding: 5px;
}

.nav-create
{
	float: right;
	width: 10%;
	height: 100%;
	padding: 5px;
}

.nav-create input
{
	width: 100%;
	border: 1px solid black;
}

.modal-content
{
	position: absolute;
	width: 500px;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	background: #fff;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 0.5%;
}

.modal-content ul
{
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
}

.modal-content li
{
	padding-bottom: 5px;
}

.modal-content li > input
{
	box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
	width: 100%;
}

.modal-content-button
{
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	background-color: #008CBA;
	border: 0.0625em solid black;
	color: black;
	text-align: center;
	text-decoration: none;
}

.btn-confirm
{
	float: right;
}

.btn-confirm:hover
{
	background-color: #07c2ff;
	color: black;
}

.btn-cancel
{
	background-color: #b20000;
	float: left;
	color: white;
}

.btn-cancel:hover
{
	background-color: #e50000;
	color: white;
}

.modal-backdrop
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 9998;
	background: rgba(0, 0, 0, 0.5);
}

.searchbar
{
	display: inline-block;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;  
	box-sizing : border-box;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	border: 1px solid #666666;
	padding: 3px;
}

.searchbar input[type=search]
{
	float: left;
	width: 75%;
	height: 100%;
	padding-left: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
	border: 0;
	outline: none;
	box-shadow: none;
}

.searchbar-dropdown
{
	position: relative;
    float: left;
    width: 25%;
    height: 100%;
    padding-top: 1px; /* Why is this needed? */
}

.searchbar-dropdown input[type=button]
{
	background-color: #008CBA;
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 2px;
	outline: none;
}

.searchbar-dropdown input[type=button]:hover
{
	background-color: #07c2ff;
} 

.dropdown-menu
{
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;  
	box-sizing : border-box;
	background-color: #ffffff; 
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 0.2em; /*3px*/
	z-index: 1;
	width: 100%;
	border-bottom: 1px solid #666666;
}

.dropdown-menu > li > a
{	
	padding: 2px;
	text-decoration: none;
	position: relative;
	display: block;
	color: #000000;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
}

.dropdown-menu > li > a:hover
{
	background-color: #07c2ff;
}

.btn 
{
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	width: 100%;
	height: 100%;
	background-color: #008CBA;
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
}

.btn:hover
{
	background-color: #07c2ff;
	color: black;
}